/*resume.css*/

body {
	background-image: url(background.png);
	background-attachment: fixed;
	background-size: 100%;
	color: #404040;

}

.title {
	background-color: ffffff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom:20px;
	text-align: center;	
	width: 25%;
	padding: 3px 3px 25px 3px;
	border: 1px solid #e8e8e8;
}
.title h4 {
	color: #585858;
}

h1 {
	font-family: "Garamond", serif;
	font-variant: small-caps;
}

h2{
	text-decoration: underline;
	font-variant: small-caps;
}

h3{
	margin-bottom: 1px;
}
.sub {
	display: inline;
}
h4 span {
	font-weight: normal;
	color: #585858;
}
h4 {
	font-style: italic;
}



p, h4{
	margin-top: 1px;
	margin-bottom: 1px;
}

ul{
	margin-top: 0px;
	margin-bottom: 15px;
}

.content{
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 25px 25px 25px;
	background-color: #ffffff;
	width: 60%;
	border: 1px solid #e8e8e8;
}

hr{
	width: 50%;
	margin-top: 1px;
	margin-bottom: 1px;
}



/*hddm*/